
@{
    ViewBag.Title = "BireyselGiris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container"  >
    <div class="form col-md-4 col-md-offset-4 col-sm-offset-3  col-sm-6 col-xs-8 col-xs-offset-2">
        <div>
            <br /><br />
            <h1 class="active">Bireysel Giriş</h1><br />
            <div class="form-group-1">
                <input type="text" id="username" class="form-control" name="" placeholder="Kullanıcı adı">
            </div>
            <div class="form-group-1">
                <input type="password" id="password" class="form-control" name="" placeholder="Şifre">
            </div>
            <div class="form-btn">
                <input type="button" onclick="login()" class="btn btn-success btn-block" name="" value="Giriş">
            </div>
            <a href="#">Üye Ol</a>
        </div>
    </div>
</div>

